@import "bootstrap/scss/bootstrap";

body {
  background-color: rgb(0, 0, 0);
  color: white;
}

.searchResults {
  display: flex;
}

.movie-list-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 30px;
}

.category {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
  padding-bottom: 15px;
  padding-top: 10px;
}

.movies-by-genre {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.movie-card {
  cursor: pointer;
  color: white;
  width: 12rem;
  height: 25rem;
  background-color: rgb(31, 31, 31);
  border-style: none;
  border-radius: 10px;
  .card-text {
    font-size: small;
  }
  .card-title {
    font-size: medium;
  }
}

.sub-title-text {
  color: gray;
  font-weight: bold;
}

.movie-page-container img {
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

.movie-page-header {
  margin-bottom: 20px;
}

.movie-page-details .nav-link {
  color: rgb(99, 120, 236);
  font-weight: 500;
}

.genre-button {
  margin-right: 10px;
  margin-top: 10px;
}
